<template>
  <div class="container">
    <h2 class="mt-3">Formulir dengan Bootstrap</h2>
    <form @submit.prevent="submitForm" class="needs-validation mt-3" novalidate>
      <div class="mb-3">
        <label for="name" class="form-label">Title:</label>
        <input type="text" id="name" class="form-control" v-model="formData.title" required />
        <div class="invalid-feedback">Title harus diisi.</div>
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Body:</label>
        <input type="email" id="email" class="form-control" v-model="formData.body" required />
        <div class="invalid-feedback">Body harus valid.</div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

      <div class="mt-5">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Title</th>
            <th scope="col">Body</th>
            <th scope="col">User ID</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(post, index) in posts" :key="post.id">
            <th scope="row">{{ index + 1 }}</th>
            <td>{{ post.title }}</td>
            <td>{{ post.body }}</td>
            <td>{{ post.userId }}</td>
            <td>
            <button @click="editPost(post)" class="btn btn-primary btn-sm">Edit</button>
            <button @click="deletePost(post.id)" class="btn btn-danger btn-sm">Delete</button>
          </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      formData: {
        title: '',
        body: '',
        id: 0,
      },
      edit: false,
      posts: [],
    };
  },
  methods: {
    async submitForm() {
    if(this.edit){
      try {      
      const response = await fetch(`https://jsonplaceholder.typicode.com/posts/${this.formData.id}`, {
      method: 'PUT',
      body: JSON.stringify({
        id: this.formData.id,
        title: this.formData.title,
        body: this.formData.body,
        userId: 1,
      }),
      headers: {
        'Content-type': 'application/json; charset=UTF-8',
      },
    });

    const updatedPost = await response.json();
    const index = this.posts.findIndex(post => post.id === updatedPost.id);
      if (index !== -1) {
        this.posts.splice(index, 1, updatedPost);
      }
    this.formData.title = '';
    this.formData.body = '';
    this.formData.id = 0;
    this.edit = false;

    } catch (error) {
      console.error('Error posting data:', error);
    }
  } else{
    try {  
          const response = await fetch('https://jsonplaceholder.typicode.com/posts', {
          method: 'POST',
          body: JSON.stringify({
            title: this.formData.title,
            body: this.formData.body,
            userId: 1,
          }),
          headers: {
            'Content-type': 'application/json; charset=UTF-8',
          },
        });

        const newPost = await response.json();
        this.formData.title = '';
        this.formData.body = '';
        this.posts.push(newPost);

      } catch (error) {
        console.error('Error posting data:', error);
      }
    }    
  },
    editPost(post) {
      this.formData.title = post.title;
      this.formData.body = post.body;
      this.formData.id = post.id;
      this.edit = true;
    },

    async deletePost(postId) {
      try {
        const response = await fetch(`https://jsonplaceholder.typicode.com/posts/${postId}`, {
          method: 'DELETE',
        });

        if (response.ok) {
          this.posts = this.posts.filter(post => post.id !== postId);
        } else {
          console.error(`Failed to delete post with ID ${postId}.`);
        }
      } catch (error) {
        console.error('Error deleting post:', error);
      }
    },
    async fetch() {
      try {
        const response = await fetch('https://jsonplaceholder.typicode.com/posts');
        const data = await response.json();
        this.posts = data;
      } catch (error) {
        console.error('Error fetching posts:', error);
      }
    },
  },
  async mounted() {
    await this.fetch();
  },
};
</script>
<style>
.container {
  max-width: 1000px; 
  margin: 0 auto;
}

.mt-3 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
}
</style>